.container {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 0;
  margin-top: 12px;
  margin-bottom: 12px;
}

.label {
  text-transform: uppercase;
  font-size: .75em;
  margin-right: 2px;
}


.value {

}
